{erl_opts, [debug_info]}.

% Папки с исходниками — относительные к корню проекта
{src_dirs, ["src/proc", "src/gen_server"]}.

% Плагины
{project_plugins, [
    rebar3_lint,
    erlfmt,
    rebar3_proper
]}.

% Настройки erlfmt
{erlfmt, [
    {print_width, 90},
    {files, [
        "{src/proc,src/gen_server,src/proc/test,src/gen_server/test}/*.{erl,src}",
        "rebar.config"
    ]}
]}.

% EUnit опции
{eunit_opts, [verbose]}.

% (опционально) Пути к тестам, если нужно явно
% {test_dirs, ["src/proc/test", "src/gen_server/test"]}.
