{erl_opts, [debug_info]}.

% Исходники приложений
{src_dirs, ["proc", "gen_server"]}.

% Плагины
{project_plugins, [
    rebar3_lint,
    erlfmt,
    rebar3_proper
]}.

% Настройки erlfmt
{erlfmt, [
    {print_width, 90},
    {files, [
        "{proc,gen_server,test}/*.{erl,src}",
        "rebar.config"
    ]}
]}.

% EUnit опции
{eunit_opts, [verbose]}.
