{erl_opts, [debug_info]}.

% Папки с исходниками
{src_dirs, ["proc", "gen_server"]}.

% Папки с тестами
{test_dirs, ["proc/test", "gen_server/test"]}.

% EUnit опции
{eunit_opts, [verbose]}.

% Плагины
{project_plugins, [
    rebar3_lint,
    erlfmt
]}.

% Настройки erlfmt
{erlfmt, [
    {print_width, 90},
    {files, [
        "{proc,gen_server,proc/test,gen_server/test}/*.{erl,src}",
        "rebar.config"
    ]}
]}.
