name: Erlang CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app:
          - proc
          - gen_server

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Erlang + rebar3
        uses: erlef/setup-beam@v1
        with:
          otp-version: '26.0'
          rebar3-version: '3.25.0'

      - name: Compile application
        working-directory: lab3/${{ matrix.app }}
        run: rebar3 compile

      - name: Run EUnit tests
        working-directory: lab3/${{ matrix.app }}
        run: rebar3 eunit
