name: Erlang CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Проверяем репозиторий
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Устанавливаем Erlang/OTP
      - name: Setup Erlang/OTP
        uses: erlef/setup-beam@v1
        with:
          otp-version: '26.3'
          rebar3-version: '3.21.5' # можно указать последнюю стабильную

      # 3. Проверяем версию Erlang и Rebar3
      - name: Show versions
        run: |
          erl -version
          rebar3 version

      # 4. Делаем скрипт исполняемым (на случай если не был)
      - name: Make run_tests.sh executable
        run: chmod +x scripts/run_tests.sh

      # 5. Запускаем все тесты через наш скрипт
      - name: Run all tests
        run: ./scripts/run_tests.sh
