name: Erlang CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Erlang + rebar3
        uses: erlef/setup-beam@v1
        with:
          otp-version: '26.0'
          rebar3-version: '3.25.0'

      - name: Compile source modules
        run: |
          erl -noshell -pa src/proc -pa src/gen_server -eval "
            compile:file('src/proc/linear_interpolation.erl', [report]),
            compile:file('src/proc/lagrange_interpolation.erl', [report]),
            compile:file('src/proc/interpolation.erl', [report]),
            compile:file('src/proc/main.erl', [report]),
            compile:file('src/proc/io_server.erl', [report]),
            compile:file('src/proc/lab3_app.erl', [report]),
            compile:file('src/proc/lab3_sup.erl', [report]),
            compile:file('src/gen_server/lagrange_server.erl', [report]),
            compile:file('src/gen_server/lab3_gen_server_app.erl', [report]),
            compile:file('src/gen_server/lab3_gen_server_sup.erl', [report]),
            compile:file('src/gen_server/interpolation_sup.erl', [report]),
            compile:file('src/gen_server/output_server.erl', [report]),
            compile:file('src/gen_server/input_server.erl', [report]),
            compile:file('src/gen_server/interpolation_server.erl', [report]),
            compile:file('src/gen_server/linear_server.erl', [report]),
            init:stop().
          "

      - name: Compile test modules
        run: |
          erl -noshell -pa src/proc -pa src/gen_server -pa src/proc/test -pa src/gen_server/test -eval "
            compile:file('src/proc/test/proc_linear_interpolation_test.erl', [report]),
            compile:file('src/proc/test/proc_parser_test.erl', [report]),
            compile:file('src/proc/test/proc_points_generator_test.erl', [report]),
            compile:file('src/proc/test/proc_lagrange_interpolation_test.erl', [report]),
            compile:file('src/gen_server/test/gen_server_interpolation_test.erl', [report]),
            compile:file('src/gen_server/test/gen_server_parser_test.erl', [report]),
            init:stop().
          "

      - name: Run EUnit tests
        run: |
          erl -pa src/proc -pa src/gen_server -pa src/proc/test -pa src/gen_server/test \
              -noshell \
              -eval "eunit:test([
                        proc_linear_interpolation_test,
                        proc_parser_test,
                        proc_points_generator_test,
                        proc_lagrange_interpolation_test,
                        gen_server_interpolation_test,
                        gen_server_parser_test
                    ], [verbose]), init:stop()."
